@media (max-width:1900px){
  body{
    background-size: 880px;
  }
}

@media (max-width: 1700px){
  body{
    background-size: 800px;
  }
}

@media (max-width: 1550px){
  body{
    background-size: 750px;
  }
}

@media (max-width: 1440px){
  body{
    background-size: 680px;
  }
}

@media (max-width: 1300px){
  body{
    background-size: 620px;
  }
}

@media (max-width: 1150px){
  body{
    background-position-x: -100px ;
  }
}